html, body {
  line-height: 1.6;
  margin: 0;
  font-family: "helvetica";
  color: #333;
}

body {
  background-color: #7C4DB0;
  color: #2F134F;
}

section {
  padding: 1em;
}

a {
  color: #FFECC1;
}

a:visited {
  color: #CC9A53;
}

header {
  height: 3em;
  color: #7C4DB0;
  background-color: #2F134F;
  text-align: center;
  overflow: hidden;
}

header > a > div{
  float: right;
  width: 6em;
}

header > a > div:hover{
  color: #7C4DB0;
  background-color: #CC9A53;
}

header > a > div.top-bar-home {
  float: left;
  margin-left: 1.5em;
}

ol{
  border-color: #2F134F;
  border-width: medium;
  box-shadow: -1em -1em 1em #2F134F, 1em 1em 1em #2F134F;
  padding: 1.5em;
  padding-top: 0;

}

li{
  padding: .5em;
}

hr {
    border: 0;
    height: 0;
    box-shadow: 0 0 10px 1px black;
}
hr:after {
    content: "\00a0";
